/* animation */
@keyframes egg-move {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(-55deg);
  }
}

@keyframes crack-left-move {
  to {
    transform: rotate(-50deg);
  }
}

@keyframes crack-right-move {
  to {
    transform: rotate(50deg);
  }
}
/* setting */
:root {
  --whi: #ffff;
  --gra: rgb(223, 223, 223);
  --sky: rgb(108, 151, 250);
}

/* reset */
body {
  margin: 0;
  padding: 0;
}

/* design */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--sky);
}

.change {
  background-color: white;
  margin: 100px auto;
  width: 1080px;
  height: 550px;
}

.dream {
  position: relative;
}
.rounded {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 500px;
  height: 500px;
  border-radius: 50% 50%;
  border: 1px solid var(--gra);
  background-color: var(--sky);
}

.large_round {
  position: absolute;
  top: 250px;
  left: 530px;
  width: 70px;
  height: 70px;
  border-radius: 50% 50%;
  border: 1px solid var(--gra);
  background-color: var(--sky);
}

.middle_round {
  position: absolute;
  top: 300px;
  left: 600px;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
  border: 1px solid var(--gra);
  background-color: var(--sky);
}

.small_round {
  position: absolute;
  top: 350px;
  left: 650px;
  width: 30px;
  height: 30px;
  border-radius: 50% 50%;
  border: 1px solid var(--gra);
  background-color: var(--sky);
}

.egg {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 300px;
  height: 300px;
  transform: rotate(-40deg);
  animation: egg-move 1s infinite alternate;
  background-color: var(--whi);
  border: 2px solid var(--gra);
  border-radius: 80% 17% 58% 38% / 64% 20% 80% 36%;
}

.future {
  position: relative;
  display: none;
}

.crack-egg {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 230px;
  right: 40px;
  width: 450px;
  height: 300px;
}

.crack-img {
  position: absolute;
  top: -90px;
  right: -30px;
  transform: rotate(80deg);
  width: 80px;
  height: 80px;
}

.crack-left {
  width: 150px;
  height: 300px;
  border: 2px solid var(--gra);
  border-radius: 100% 0% 0% 100% / 64% 100% 0% 36%;
  transform-origin: 80% 50%;
  transform: rotate(-40deg);
  animation: crack-left-move 1s infinite alternate;
  background-color: var(--whi);
}

.crack1,
.crack2,
.crack3,
.crack4,
.crack5,
.crack6,
.crack7,
.crack8 {
  width: 50px;
  height: 50px;
  transform: rotate(46deg);
}

.crack1,
.crack2,
.crack3,
.crack4 {
  position: relative;
  top: 30px;
  margin-left: 122px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--gra);
  border-left: 2px solid var(--gra);
  background-color: var(--whi);
}

.crack-right {
  width: 150px;
  height: 300px;
  border: 2px solid var(--gra);
  border-radius: 0% 100% 100% 0% / 41% 66% 34% 59%;
  transform: rotate(40deg);
  animation: crack-right-move 1s infinite alternate;
  background-color: var(--whi);
}

.crack5,
.crack6,
.crack7,
.crack8 {
  position: relative;
  top: 30px;
  margin-left: -27px;
  margin-bottom: 19px;
  border-bottom: 2px solid var(--gra);
  border-left: 2px solid var(--gra);
  background-color: var(--whi);
}
#hamer {
  display: none;
  bottom: 0;
}

#hamer:checked ~ .dream {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

#hamer:checked ~ .future {
  display: block;
}

.hamer-label {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-image: url("../images/js-img.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hamer-label:hover {
  cursor: pointer;
}
